.logo {
    align-items: center;
}

.logo > a {
    grid-template-columns: fit-content(50px) 1fr;
}

.card:not(:first-child):hover .card__social a {
    display: block;
}

.card:not(:first-child) .card__social a {
    display: none;
}

.card--random a {
    display: block;
}
