.logo {
    align-items: center;
}

.card:hover {
    background: #ecf0f1;
}

.card:hover .card__social a {
    display: block;
}

.card__social a {
    display: none;
}

.card__social a:not(:last-child) {
    padding-right: 5px;
}